Exploration

In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)

data = pd.read_csv('DataScience_salaries_2024.csv')

job_data = data['job_title'].value_counts().reset_index()
job_data.columns = ['job_title', 'frequency']
job_data

                                    job_title  frequency
0                               Data Engineer       3162
1                              Data Scientist       3015
2                                Data Analyst       2189
3                   Machine Learning Engineer       1542
4                          Research Scientist        475
5                          Analytics Engineer        403
6                           Applied Scientist        383
7                              Data Architect        369
8                           Research Engineer        276
9              Business Intelligence Engineer        230
10                               Data Science        205
11                               Data Manager        188
12                                ML Engineer        163
13              Business Intelligence Analyst        147
14                 Machine Learning Scientist        124
15                       Data Science Manager        114
16                           Research Analyst        107
17                                AI Engineer        105
18                               BI Developer         84
19                    Data Science Consultant         79
20                            Data Specialist         78
21                     Data Analytics Manager         56
22                      Business Intelligence         50
23            Business Intelligence Developer         49
24                               Head of Data         49
25                               Data Modeler         46
26                                 BI Analyst         43
27                         Decision Scientist         38
28   Machine Learning Infrastructure Engineer         33
29                   Director of Data Science         33
30                   Computer Vision Engineer         32
31                             Data Developer         30
32                       Data Product Manager         30
33                               AI Architect         28
34                              ETL Developer         28
35                          Data Science Lead         26
36                                  Data Lead         24
37                            Data Strategist         24
38                       Data Quality Analyst         24
39                               AI Scientist         24
40                      Data Science Engineer         23
41                    Data Operations Analyst         22
42                Machine Learning Researcher         21
43                      Business Data Analyst         21
44                             MLOps Engineer         21
45                Data Integration Specialist         21
46                  Data Integration Engineer         20
47                            BI Data Analyst         19
48                               AI Developer         19
49                        Data Analytics Lead         18
50                            Prompt Engineer         17
51                  Data Science Practitioner         16
52               Data Infrastructure Engineer         16
53                    Data Management Analyst         16
54              Business Intelligence Manager         16
55                   Data Operations Engineer         16
56         Machine Learning Software Engineer         15
57                               NLP Engineer         15
58         Applied Machine Learning Scientist         14
59                    Cloud Database Engineer         13
60                     Applied Data Scientist         13
61                     Deep Learning Engineer         12
62                          Big Data Engineer         12
63                            Insight Analyst         12
64                       Head of Data Science         12
65              Data Visualization Specialist         12
66                        Lead Data Scientist         10
67                 Data Operations Specialist         10
68                   Principal Data Scientist         10
69                 Data Management Specialist          9
70                      Data Science Director          8
71                 Robotics Software Engineer          8
72                  Data Analytics Consultant          8
73                 Machine Learning Developer          8
74                              AI Programmer          7
75                       AI Research Engineer          7
76                   Head of Machine Learning          7
77       Machine Learning Operations Engineer          7
78                         Lead Data Engineer          6
79                       Product Data Analyst          6
80                          Lead Data Analyst          6
81                  Data Analytics Specialist          6
82                         Data Product Owner          6
83                          Robotics Engineer          6
84                    Data Analytics Engineer          5
85                      Data Quality Engineer          5
86         Machine Learning Research Engineer          5
87          Computer Vision Software Engineer          5
88             Lead Machine Learning Engineer          5
89                 Business Intelligence Lead          4
90                     Financial Data Analyst          4
91                Data Visualization Engineer          4
92                        Cloud Data Engineer          4
93                       Data Science Analyst          4
94                  Data Operations Associate          4
95                 Data Integration Developer          4
96                   Machine Learning Manager          4
97           Business Intelligence Specialist          4
98                      Data Strategy Manager          4
99                    Computational Biologist          4
100                      Data DevOps Engineer          3
101                              ETL Engineer          3
102         Applied Machine Learning Engineer          3
103                        AI Product Manager          3
104                      Finance Data Analyst          3
105                    Software Data Engineer          3
106                      Admin & Data Analyst          3
107                   Principal Data Engineer          3
108                        Staff Data Analyst          3
109       Principal Machine Learning Engineer          3
110               Machine Learning Specialist          2
111    Encounter Data Management Professional          2
112                             Data Modeller          2
113                   Compliance Data Analyst          2
114                    Data Reporting Analyst          2
115        Business Intelligence Data Analyst          2
116                       Azure Data Engineer          2
117                Data Management Consultant          2
118                      Data Quality Manager          2
119             Autonomous Vehicle Technician          2
120            Managing Director Data Science          2
121                       Data Scientist Lead          2
122                        Big Data Architect          2
123                Data Visualization Analyst          2
124                  Machine Learning Modeler          2
125                         Data Analyst Lead          2
126                      Staff Data Scientist          2
127                    Data Pipeline Engineer          2
128                      AI Software Engineer          2
129                    Marketing Data Analyst          2
130                     AI Research Scientist          2
131                           ML Ops Engineer          2
132                   Data Operations Manager          2
133                    Principal Data Analyst          2
134                        Sales Data Analyst          1
135                          BI Data Engineer          1
136                        Power BI Developer          1
137             Quantitative Research Analyst          1
138                Applied Research Scientist          1
139                  Principal Data Architect          1
140                   Marketing Data Engineer          1
141                    Data Science Tech Lead          1
142                   Manager Data Management          1
143                  Marketing Data Scientist          1
144                  Consultant Data Engineer          1
145                  Data Analytics Associate          1
146                      Cloud Data Architect          1
147             Analytics Engineering Manager          1
148                  Deep Learning Researcher          1
149                        Big Data Developer          1
150                        AWS Data Architect          1
151           Staff Machine Learning Engineer          1
152                          CRM Data Analyst          1

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
job_title_vec = vectorizer.fit_transform(job_data['job_title']).toarray()

from sklearn.cluster import KMeans

n_clusters = 10

kmeans = KMeans(n_clusters=n_clusters, random_state=42).fit(job_title_vec)
predict = kmeans.predict(job_title_vec)
for i in range(10):
  for j in range(len(job_title_vec)):
    if predict[j] == i:
      print(predict[j], ': ', job_data['job_title'][j])

0 :  Analytics Engineer
0 :  Research Engineer
0 :  Business Intelligence Engineer
0 :  ML Engineer
0 :  AI Engineer
0 :  Computer Vision Engineer
0 :  MLOps Engineer
0 :  Prompt Engineer
0 :  NLP Engineer
0 :  Cloud Database Engineer
0 :  Deep Learning Engineer
0 :  Robotics Software Engineer
0 :  AI Research Engineer
0 :  Robotics Engineer
0 :  Computer Vision Software Engineer
0 :  ETL Engineer
0 :  AI Software Engineer
0 :  ML Ops Engineer
1 :  BI Developer
1 :  Business Intelligence Developer
1 :  Data Developer
1 :  ETL Developer
1 :  AI Developer
1 :  Data Integration Developer
1 :  Power BI Developer
1 :  Big Data Developer
2 :  Data Scientist
2 :  Research Scientist
2 :  Applied Scientist
2 :  Data Manager
2 :  Data Specialist
2 :  Data Analytics Manager
2 :  Business Intelligence
2 :  Head of Data
2 :  Data Modeler
2 :  Decision Scientist
2 :  Data Product Manager
2 :  Data Strategist
2 :  AI Scientist
2 :  Data Integration Specialist
2 :  Business Intelligence Manager
2 :  Applied Data Scientist
2 :  Data Visualization Specialist
2 :  Data Operations Specialist
2 :  Principal Data Scientist
2 :  Data Management Specialist
2 :  Data Analytics Consultant
2 :  AI Programmer
2 :  Data Analytics Specialist
2 :  Data Product Owner
2 :  Business Intelligence Lead
2 :  Data Operations Associate
2 :  Business Intelligence Specialist
2 :  Data Strategy Manager
2 :  Computational Biologist
2 :  AI Product Manager
2 :  Encounter Data Management Professional
2 :  Data Modeller
2 :  Data Management Consultant
2 :  Data Quality Manager
2 :  Autonomous Vehicle Technician
2 :  Staff Data Scientist
2 :  AI Research Scientist
2 :  Data Operations Manager
2 :  Applied Research Scientist
2 :  Manager Data Management
2 :  Marketing Data Scientist
2 :  Data Analytics Associate
2 :  Analytics Engineering Manager
3 :  Machine Learning Engineer
3 :  Machine Learning Scientist
3 :  Machine Learning Infrastructure Engineer
3 :  Machine Learning Researcher
3 :  Machine Learning Software Engineer
3 :  Applied Machine Learning Scientist
3 :  Machine Learning Developer
3 :  Head of Machine Learning
3 :  Machine Learning Operations Engineer
3 :  Machine Learning Research Engineer
3 :  Lead Machine Learning Engineer
3 :  Machine Learning Manager
3 :  Applied Machine Learning Engineer
3 :  Principal Machine Learning Engineer
3 :  Machine Learning Specialist
3 :  Machine Learning Modeler
3 :  Deep Learning Researcher
3 :  Staff Machine Learning Engineer
4 :  Data Science
4 :  Data Science Manager
4 :  Data Science Consultant
4 :  Director of Data Science
4 :  Data Science Lead
4 :  Data Lead
4 :  Data Analytics Lead
4 :  Data Science Practitioner
4 :  Head of Data Science
4 :  Lead Data Scientist
4 :  Data Science Director
4 :  Managing Director Data Science
4 :  Data Scientist Lead
4 :  Data Science Tech Lead
5 :  Data Engineer
5 :  Data Science Engineer
5 :  Data Integration Engineer
5 :  Data Infrastructure Engineer
5 :  Data Operations Engineer
5 :  Big Data Engineer
5 :  Lead Data Engineer
5 :  Data Analytics Engineer
5 :  Data Quality Engineer
5 :  Data Visualization Engineer
5 :  Cloud Data Engineer
5 :  Data DevOps Engineer
5 :  Software Data Engineer
5 :  Principal Data Engineer
5 :  Azure Data Engineer
5 :  Data Pipeline Engineer
5 :  BI Data Engineer
5 :  Marketing Data Engineer
5 :  Consultant Data Engineer
6 :  Data Analyst
6 :  Business Intelligence Analyst
6 :  Research Analyst
6 :  BI Analyst
6 :  Data Quality Analyst
6 :  Data Operations Analyst
6 :  Business Data Analyst
6 :  BI Data Analyst
6 :  Data Management Analyst
6 :  Insight Analyst
6 :  Product Data Analyst
6 :  Lead Data Analyst
6 :  Financial Data Analyst
6 :  Data Science Analyst
6 :  Finance Data Analyst
6 :  Admin & Data Analyst
6 :  Staff Data Analyst
6 :  Compliance Data Analyst
6 :  Data Reporting Analyst
6 :  Business Intelligence Data Analyst
6 :  Data Visualization Analyst
6 :  Data Analyst Lead
6 :  Marketing Data Analyst
6 :  Principal Data Analyst
6 :  Sales Data Analyst
6 :  Quantitative Research Analyst
6 :  CRM Data Analyst
7 :  Data Architect
7 :  AI Architect
7 :  Big Data Architect
7 :  Principal Data Architect
7 :  Cloud Data Architect
7 :  AWS Data Architect

Preprocessing Function

I first define the most common job categories and types for data science jobs. Then, I use them for preprocessing. I ignore the implied experience level in the job title(e.g. Manager, Lead), as there is a separate feature for it.

In [3]:
def process_job_title(job_titles):
  for i, title in enumerate(job_titles):
     title = title.replace('ML', 'Machine Learning').replace('BI', 'Business Intelligence').replace('AI', 'Artificial Intelligence').replace('Science', 'Scientist')
    
  job_cat = ['Data', 'Machine Learning', 'Business Intelligence', 'Artificial Intelligence', 'Research']
  job_type = ['Engineer', 'Analyst', 'Developer', 'Scientist', 'Speicialist']

  def check_job_cat_or_type(jobs, title):
    for job in jobs:
       if job in title:
          return job
    return None

  for i, title in enumerate(job_titles):
     #replace abbreviations
     title = title.replace('ML', 'Machine Learning').replace('BI', 'Business Intelligence').replace('AI', 'Artificial Intelligence')

  for i, title in enumerate(job_titles):
    check1 = check_job_cat_or_type(job_cat, title)
    check2 = check_job_cat_or_type(job_type, title)

    if check1 is not None:
        title = check1 + ' '
    else:
        title = 'Data '
    
    if check2 is not None:
        title += check2
    else:
        title += 'Scientist'
    
    job_titles[i] = title

    return job_titles